[gcode_macro PARK_MACRO]
gcode:
  {% set X = params.X|default(235)|int %}
  {% set Y = params.X|default(235)|int %}
  {% set Z = params.X|default(30)|int %}
  M117 PARKING..
  G91
  ; G1 E-3.14 F1500
  G1 Z{Z}
  G90
  G1 X{X} Y{Y} F3000

[gcode_macro M600]
gcode:
  PAUSE_MACRO
  UNLOAD_FILAMENT

[gcode_macro PAUSE_MACRO]
gcode:
  PAUSE
  PARK_MACRO
  SET_IDLE_TIMEOUT TIMEOUT=7200

[gcode_macro PURGE]
gcode:
  M117 PURGING..
  G91
  G1 E45.0 F250
  G90

[gcode_macro LOAD_FILAMENT]
gcode:
  M117  LOADING...
  G91
  G1 E25.0 F1000
  G1 E50 F2500
  G4 P900
  G1 E45.0 F250
  G90
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=10

[gcode_macro UNLOAD_FILAMENT]
gcode:
  G91
  G1 E5.0 F1200
  G1 E3.0 F1600
  G1 E-13.14 F7000
  G1 E-50 F3000 #This is a partial unload for the E5, but you need to adjust the default setting for max extrusion from 50
  G90

[gcode_macro RESUME_MACRO]
gcode:
  M117  RESUMING...
  RESUME

[gcode_macro M205]
gcode:

[gcode_macro G29]
gcode:
  G1 Z10 F600
  ; SET_SERVO SERVO=bltouch ANGLE=120
  G4 P200
  G1 Z10 F600
  BED_MESH_CALIBRATE
  ; SET_SERVO SERVO=bltouch ANGLE=10
  G4 P100

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  G1 X230 Y230 F30000
  M107 ; Turn cooling fan off

[gcode_macro PRINT_START]
gcode:
   {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
   {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}
  M117 Heating Bed
  G90 ; use absolute coordinates
  M83 ; extruder relative mode
  M104 S120 ; Pre-heat nozzle to 120C
  M140 S{BED_TEMP} ; set final bed temp
  M190 S{BED_TEMP} ; wait for bed temp to stabilize
  G4 S10 ; allow partial nozzle warmup
  M117 Homing Printer
  CALIBRATE_BED
  G1 X12.1 Y30 Z5 F5000.0 ;Move to start position
  G1 X12.1 Y30 Z0.28 F5000.0 ;Move to start position
  M117 Heating Nozzle
  M104 S{EXTRUDER_TEMP} ; set final nozzle temp
  M109 S{EXTRUDER_TEMP} ; wait for nozzle temp to stabilize
  M117 Purge extruder
  G92 E0 ;Reset Extruder
  G1 X12.1 Y30 Z0.28 F5000.0 ;Move to start position
  G1 X12.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
  G1 X12.3 Y200.0 Z0.28 F5000.0 ;Move to side a little
  G1 X12.3 Y30 Z0.28 F1500.0 E30 ;Draw the second line
  G1 Z2 F3000
  G92 E0 ;Reset Extruder
  M117 Printing

[gcode_macro PRINT_END]
gcode:
  G91 ; use relative coordinates
  G1 Z10 F3000 ; Move print bed down
  G90 ; use absolute coordinates
  G1 X235 Y235 ; Home X and Y axes
  M84 ;
  M117 Cooldown Extruder
  M106 S255
  M140 S0 ; set final bed temp to 0c
  TURN_OFF_HEATERS ; Turn all heaters off
  M107 ; Turn cooling fan off
  G4 S30 ; Wait 30 seconds
  POWER_OFF ; Turn printer off

[gcode_macro POWER_OFF]
gcode:
  {action_call_remote_method("set_device_power",
                             device="printer",
                             state="off")}

[gcode_macro CALIBRATE_BED]
gcode:
  G28 ; home all axis
  G29 ; Auto Bed Level

